.wycieczki-section {
    margin-top: 2rem;
}

.wycieczki-section ul {
    list-style-type: none;
    padding: 0;
}

.wycieczki-section li {
    margin-bottom: 1rem;
}

.daty-lista {
    margin-top: 0.5rem;
    margin-left: 1rem;
    color: #444;
}

.miasto-details {
    padding: 6rem;
    background-color: #f8f9fa;
    min-height: 100vh;
}

.img{
    border-radius: 10%;
    width: 750px;
    height: 500px;
    object-fit: cover;
}

.h3{
    margin-bottom: 2rem;
}

.h2{
    margin-bottom: 4rem;
    font-size: 32px;
    color: #002d72;
}